<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApp"
        tools:targetApi="31">
        <activity
            android:name=".ThanhToanThanhCong"
            android:exported="false" />
        <activity
            android:name=".ThongTinThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".DanhSachTKKhachHang"
            android:exported="false" />
        <activity
            android:name=".UpdatePassActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".TimKiemSP"
            android:exported="false" />
        <activity
            android:name=".DanhSachQLSP"
            android:exported="false" />
        <activity
            android:name=".QuanLySanPham"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".DetailSPActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>